<section>
  <header>
    <img src="laptop-desk.jpg" alt="A web app running on a laptop desk" />
    <h2>Build Web Apps With Angular!</h2>
  </header>
  <p>
    Angular is one of the most popular modern web development frameworks out
    there!
  </p>
  <p>
    It's getting used by thousands of developers and companies since it allows
    developers to build powerful, highly interactive web applications with ease!
  </p>
  <p>
    Whilst you could use "just JavaScript" to build such applications, Angular
    vastly simplifies the process and allows you to build applications with a
    clear, modular structure - a feature that's especially important as
    applications become more complex.
  </p>
</section>

<section>
  <header>
    <img src="student.jpg" alt="A student learning for an exam" />
    <h2>What Does This Course Offer?</h2>
  </header>

  <p>
    This course will teach you all the fundamentals about components, templates,
    directives, databinding, routing, HTTP access and much more! We will take a
    lot of deep dives and build multiple demo projects along the way. All
    examples showcase the features Angular offers and how to apply them
    correctly.
  </p>

  <p>Best of all? This course doesn't stop at the basics!</p>

  <p>
    We'll not just scratch the surface but dive deeply into Angular as well as
    TypeScript concepts which are especially important for Angular developers!
  </p>
</section>

<!-- @defer(on viewport){
  <app-offer-preview />
} @placeholder {
  <p>We might have an offer...</p>
} -->
<!-- Deferrable Views refer to the concept of loading or rendering parts of a webpage or application only when necessary — 
 usually when those parts become visible in the user's viewport (the visible area of the screen). -->
<!-- This is used for lazy loading. -->
<!-- In a deferrable view approach, content like images or complex components are loaded as the user scrolls down the page, 
 instead of loading everything when the page first loads. -->

<!-- @defer(on viewport): The <app-offer-preview /> component will only be loaded when it enters the viewport. -->
<!-- @placeholder: Until the <app-offer-preview /> is loaded, a simple placeholder text ("We might have an offer...") will be shown, 
 indicating to the user that additional content is on the way. -->

 <!-- @defer(on interaction){
  <app-offer-preview />
} @placeholder {
  <p class="fallback">We might have an offer...</p>
} -->
<!-- @defer(on interaction): The component <app-offer-preview /> will now be deferred until the user interacts with the page. -->
<!-- While the deferred component <app-offer-preview /> is loading due to the interaction trigger, the placeholder 
 (<p class="fallback">We might have an offer...</p>) will be shown. -->
<!-- When user click on <p class="fallback">We might have an offer...</p> the offer will be shown. -->

@defer(on interaction; prefetch on hover ){
  <app-offer-preview />
} @placeholder {
  <p class="fallback">We might have an offer...</p>
}
<!-- prefetch on hover: This additional modifier indicates that while the content will only be shown upon interaction, 
 it will start prefetching (loading in the background) when the user hovers over a particular element. 
 This prefetching is a performance optimization—while the content is not yet shown, the browser will start loading it in the 
 background when the user hovers over a related area, so it's ready when they actually interact with it. -->
<!-- When the user hovers over a specified element (the one tied to the <app-offer-preview />), the browser will begin fetching 
 the content in advance (i.e., prefetching it).
The content will still only be shown when the user interacts with the page (clicks the paragraph). The prefetch ensures that the 
content is loaded and ready without delay, enhancing the user experience. -->